.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;
    width: 1285px;
    height: 80px;
    border-bottom: rgba(156, 156, 156, 0.733) 1px solid;
    border-radius: 10px;
    position: fixed;
    z-index: 1000;
}
.userProfile{
    position: relative;
    
}
.userProfile img{
   
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    
}
.userProfile .active{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(14, 203, 14);
    border-radius: 50px;
    top: 4px;
}
.nav-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    margin-right: 20px;
}
.notification1{
    position: relative;
    cursor: pointer;
}
 .redicon{
    position: absolute;
    width: 15px;
    height: 15px;
    background-color:red;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0f8ff;
    top: 0px;
    left: 15px;
}